html, body{
    margin:0px;
    padding:0px;
}

*{
    font-family:'Open Sans', sans-serif;
    font-weight:300;
}

::selection {
    background-color:Transparent;
    color:#000;
}

header{
    width:98%;
    height:40px;
    padding:5px 1%;
    background:rgb(220,220,220);
    display:block;
    z-index:2000;
    position:relative;
}

section{
    display:block;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    background:#eee;
}

h1{
    float:left;
    margin:0px;
    padding:0px;
    color:rgb(30,30,30);
    letter-spacing:-3px;
    color:rgb(114, 191, 136);
}

#add_data{
    position:absolute;
    top:53px;
    right:5px;
    width:30px;
    height:30px;
    background-image:url('../media/add.png');
    background-size:cover;
    cursor:pointer;
}

#data_sets{
    list-style-type:none;
    margin:10px 0px;
    padding:0px;
}

#data_sets li{
    margin:10px 0px;
    padding-top:10px;
    border-top:1px dotted rgb(150,150,150);
    padding-left:35px;
    background-image:url('../media/unticked.png');
    background-size:30px 30px;
    background-position:left center;
    background-repeat:no-repeat;
    position:relative;
}
#data_sets li.ticked{
    background-image:url('../media/ticked.png');
}
#data_sets li .name{
    font-size:13px;
    display:block;
    cursor:pointer;
}
#data_sets li .source{
    font-size:11px;
    font-style:italic;
    color:rgb(50,50,50);
    display:block;
}
#data_sets li .type{
    margin-top:5px;
    font-size:13px;
    color:rgb(50,50,50);
    display:block;
    height:20px;
}
#data_sets li .org{
    font-size:11px;
    display:block;
}
#data_sets li .delete{
    display:inline-block;
    float:right;
    width:20px;
    height:20px;
    cursor:pointer;
    background-image:url('../media/trash.png');
    background-size:cover;
}


.background{
    padding-left:23px;
    background-size:auto 100%;
    background-position:left center;
    background-repeat:no-repeat;
}

.background.data{
    background-image:url('../media/data.png');
}
.background.uniivariate{
    background-image:url('../media/map.png');
}
.background.multivariate{
    background-image:url('../media/bar_chart.png');
}
.background.timeseries{
    background-image:url('../media/clock.png');
}

#map{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:90%;
    padding-top:5%;
    padding-bottom: -5%;
    overflow:hidden;
    z-index:1;
}

#show_hospitals{
    display:none;
    position:absolute;
    left:1%;
    bottom:100px;    
    padding-left:45px;
    background-image:url('../media/switch_off.png');
    background-size:40px 40px;
    background-repeat:no-repeat;
    background-position:left center;
    z-index:2; 
    cursor:pointer;
}
#show_hospitals.shown{
    display:block;
}
#show_hospitals.enabled{
    background-image:url('../media/switch_on.png');
}

#timeline{
    display:none;
    width:45%;
    height:10px;
    border-top:1px dashed black;
    bottom:60px;
    left:1%;
    position:absolute; 
    z-index:2; 
}
#timeline.shown{
    display:block;
}   
#timeline div{
    cursor:pointer;
    border-radius:25%;
    box-shadow:0px 0px 10px gray;
    width:100px;
    height:0px;
    padding-top:10px;
    padding-bottom:30px;
    background:rgb(60,60,60);
    color:white;
    font-size:14px;
    font-weight:500;
    text-align:center;
    position:absolute;
    top:-25px;
    left:100%;
}

#config_overlay{
    position:fixed;
    background:rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    display:none;
    z-index:4000;
}
#config_overlay.shown{
    display:block;
}
#config{
    position:relative;
    width:80%;
    margin:20px auto;
    padding:10px;
    height:450px;
    background:white;
    border-radius:3px;
    box-shadow:0px 0px 10px gray;
    border:3px solid rgb(230,230,230);
}
#config textarea{
    width:45%;
    max-width:45%;
    height:300px;
    max-height:300px;
    margin:5px 1%;
    padding:3px 1%;   
    border:none;
    background:rgb(50,50,50);
    color:white;
    font-family:'Courier', 'Monospace';
    font-size:11px;
}
#config button#store_data{
    width:46%;
    height:40px;
    display:inline-block;
    margin:5px 1%;
    padding:1%;
    border-radius:4px;
    border:none;
    background:green;
    color:white;
}
#config button#close_config{
    width:20%;
    height:40px;
    float:right;
    border-radius:4px;
    color:white;
    background: red;
    border:none;
    margin:5px 1%;
}

#controls_opener{
    float:right;
    width:40px;
    height:40px;
    background-image:url('../media/menu.png');
    background-size:40px 40px;
    background-repeat:no-repeat;
    z-index:2000;
    cursor:pointer;
}
#controls_opener.open{
    background-image:url('../media/forward.png');
}

#control_panel{
    position:absolute;
    overflow-y:scroll;
    right:0px;
    top:0px;
    width:0px;
    height:100%;
    background:rgba(0,0,0,0.7);
    background:rgb(200,200,200);
    z-index:3;
    display:none;
}
#control_panel.open{
    width:200px;
    padding:0px 5px;
    display:block;
}
#control_panel h2:first-child{
    margin-top:50px;
}
#control_panel *{
}

.hospital {
    color: #B28759;
    fill: #B28759;
}

/*
Map styling default
*/

.area{ 
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #ccc;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


/*
Bar styling
*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
