html, body{
    margin:0px;
    padding:0px;
}

*{
    font-family:'Open Sans', sans-serif;
    font-weight:300;
}

header{
    width:98%;
    height:40px;
    padding:5px 1%;
    background:rgb(220,220,220);
    display:block;
    z-index:2000;
    position:relative;
}

section{
    display:block;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:1;
}

h1{
    float:left;
    margin:0px;
    padding:0px;
    color:rgb(30,30,30);
    letter-spacing:-3px;
    color:rgb(114, 191, 136);
}

#data_sets{
    list-style-type:none;
    margin:10px 0px;
    padding:0px;
}

#data_sets li{
    margin:10px 0px;
    padding-left:35px;
    line-height:40px;
    background-image:url('../media/unticked.png');
    background-size:30px 30px;
    background-position:left center;
    background-repeat:no-repeat;
}
#data_sets li.ticked{
    background-image:url('../media/ticked.png');
}

.background{
    padding-left:30px;
    background-size:20px 20px;
    background-position:left center;
    background-repeat:no-repeat;
}

.background.data{
    background-image:url('../media/data.png');
}

#map{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
}

#controls_opener{
    float:right;
    width:40px;
    height:40px;
    background-image:url('../media/menu.png');
    background-size:40px 40px;
    background-repeat:no-repeat;
    z-index:2000;
}

#control_panel{
    position:absolute;
    right:0px;
    top:0px;
    width:0px;
    height:100%;
    background:rgba(0,0,0,0.7);
    background:rgb(200,200,200);
    z-index:2;
    display:none;
}
#control_panel.open{
    width:200px;
    padding:0px 5px;
    display:block;
}
#control_panel h2:first-child{
    margin-top:50px;
}
#control_panel *{
}

/*
Map styling default
*/

.area{ 
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #ccc;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

