html, body{
    margin:0px;
    padding:0px;
}

*{
    font-family:'Open Sans', sans-serif;
    font-weight:300;
}

header{
    width:98%;
    height:40px;
    padding:5px 1%;
    background:rgb(220,220,220);
    display:block;
    z-index:2000;
    position:relative;
}

section{
    display:block;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:1;
}

h1{
    float:left;
    margin:0px;
    padding:0px;
    color:rgb(30,30,30);
    letter-spacing:-3px;
    color:rgb(114, 191, 136);
}

#data_sets{
    list-style-type:none;
    margin:10px 0px;
    padding:0px;
}

#data_sets li{
    margin:10px 0px;
    padding-left:35px;
    background-image:url('../media/unticked.png');
    background-size:30px 30px;
    background-position:left center;
    background-repeat:no-repeat;
}
#data_sets li.ticked{
    background-image:url('../media/ticked.png');
}
#data_sets li .name{
    font-size:13px;
    display:block;
    cursor:pointer;
}
#data_sets li .source{
    font-size:11px;
    font-style:italic;
    color:rgb(50,50,50);
    display:block;
}

.background{
    padding-left:30px;
    background-size:20px 20px;
    background-position:left center;
    background-repeat:no-repeat;
}

.background.data{
    background-image:url('../media/data.png');
}

#map{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
}

#timeline{
    display:none;
    width:98%;
    height:1px;
    border-top:1px dashed black;
    bottom:60px;
    left:1%;
    position:absolute; 
    z-index:2; 
}
#timeline.shown{
    display:block;
}   
#timeline div{
    border-radius:50%;
    box-shadow:0px 0px 10px gray;
    width:50px;
    height:50px;
    background:red;
    position:absolute;
    top:-25px;
    left:50%;
}

#controls_opener{
    float:right;
    width:40px;
    height:40px;
    background-image:url('../media/menu.png');
    background-size:40px 40px;
    background-repeat:no-repeat;
    z-index:2000;
}

#control_panel{
    position:absolute;
    right:0px;
    top:0px;
    width:0px;
    height:100%;
    background:rgba(0,0,0,0.7);
    background:rgb(200,200,200);
    z-index:3;
    display:none;
}
#control_panel.open{
    width:200px;
    padding:0px 5px;
    display:block;
}
#control_panel h2:first-child{
    margin-top:50px;
}
#control_panel *{
}

/*
Map styling default
*/

.area{ 
    fill: #fff;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #ccc;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

