body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.area{ 
    fill: #C0C0C0;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #fff;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}
